# Project Benson

## Aim

- High Gala Participation Rate

## How

- Identifying High Traffic Volumes at Subway Entrances/Exits
 - By Day of Week
 - By Hour of Day



- Identifying Target Audience (those more likely to be interested)
 - Identifying Stations with High Volumes of Non-Tourist Traffic (locals)
     - By comparing station's weekend vs weekday traffic

 - [Demographic & Geographic Profiles](https://datausa.io/profile/geo/new-york-ny)
     - Assume areas with more females more interested?
     - Assume areas with higher income more likely to donate?
     - Assume areas with younger demographics more interested?
     - Assume areas with higher education level more interested?
     - Assume areas with high employment in tech industry more interested?

## Importing Data for January - June 2019

In [1]:
import pandas as pd
from datetime import datetime

In [2]:
# 2017 Turnstile data from "https://data.ny.gov/Transportation/Turnstile-Usage-Data-2017/v5y5-mwpb"
# Replace the path below with your own
path = "/Users/kc/OneDrive/Projects/projectbenson/data/data_2017.csv"

df = pd.read_csv(path, sep=',')

/Users/kc/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
# Remove whitespace from column names
df.columns = df.columns.str.strip()

# Dropping irrelevant columns
df = df.drop(columns=["Line Name", "Division", "Description"], axis=1)

In [4]:
# Concatenate Date & Time into DateTime column DT
df["DT"] = df[['Date', 'Time']].apply(lambda x: ' '.join(x), axis=1)

# Convert DT into DateTime format
df["DT"] = pd.to_datetime(df["DT"], infer_datetime_format=True)

# Concatenate C/A, Unit & SCP into 1 Unique Identifier Column
df["ID"] = df[["C/A", "Unit", "SCP"]].apply(lambda x: ' '.join(x), axis=1)

# Drop Unused Columns
df.drop(columns=["Date", "Time", "C/A", "Unit", "SCP"], axis=1, inplace=True)

In [10]:
# Rearrange Columns
df = df[["ID", "DT", "Station", "Entries", "Exits"]]

df.head(10)

                   ID                  DT Station  Entries    Exits
0  A002 R051 02-00-00 2017-12-22 23:00:00   59 ST  6455787  2184977
1  A002 R051 02-00-00 2017-12-22 19:00:00   59 ST  6455505  2184926
2  A002 R051 02-00-00 2017-12-22 15:00:00   59 ST  6454819  2184867
3  A002 R051 02-00-00 2017-12-22 11:00:00   59 ST  6454437  2184773
4  A002 R051 02-00-00 2017-12-22 07:00:00   59 ST  6454285  2184501
5  A002 R051 02-00-00 2017-12-22 03:00:00   59 ST  6454273  2184470
6  A002 R051 02-00-00 2017-12-21 23:00:00   59 ST  6454220  2184461
7  A002 R051 02-00-00 2017-12-21 19:00:00   59 ST  6453852  2184433
8  A002 R051 02-00-00 2017-12-21 15:00:00   59 ST  6453049  2184356
9  A002 R051 02-00-00 2017-12-21 11:00:00   59 ST  6452780  2184273

In [14]:
df.sort_values(by=['DT', 'ID'], ascending=False).head()

,ID,DT,Station,Entries,Exits
5438154,PTH21 R540 01-00-02,2017-12-22 23:58:21,PATH WTC 2,97528,202371
5048864,PTH03 R552 00-02-01,2017-12-22 23:56:47,JOURNAL SQUARE,136701,154570
5322141,PTH17 R541 01-00-08,2017-12-22 23:55:58,THIRTY THIRD ST,306420,198216
4961633,PTH01 R549 00-00-02,2017-12-22 23:53:41,NEWARK HW BMEBE,59651,2069
5059370,PTH04 R551 00-00-05,2017-12-22 23:53:00,GROVE STREET,1341966,1777807